.container {
  /* Группировки не хватает */
  padding: 5px;
  width: 75%;
  /* Нет палитры цветов */
  background-color: #48c7f4;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.cityName {
  margin-bottom: 50px;
  font-size: 75px;
  /* Нет палитры цветов */
  color: #0f3f31cc;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  /* Используй hex */
  color: white;
}

.day {
  /* Нет палитры цветов */
  color: #3a3f0fcc;
  margin-bottom: 30px;
  font-size: 50px;
}

.war {
  /* Нет палитры цветов */
  color: #be101fcc;
  margin-top: 30px;
  font-size: 50px;
}

@media screen and (max-width: 530px) {
  .day,
  .war,
  .cityName {
    font-size: 40px;
  }
  /* Прочитай про clamp() */
}
